<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrprez.roborally.model">
	<resultMap id="userResultMap" type="com.mrprez.roborally.model.User">
		<id property="username" column="USERNAME" />
	</resultMap>
	<resultMap id="game" type="com.mrprez.roborally.model.Game">
		<id property="id" column="ID" />
		<result property="name" column="NAME" />
	</resultMap>
	<resultMap id="card" type="com.mrprez.roborally.model.Card">
		<constructor>
			<idArg column="RAPIDITY" javaType="int"/>
			<arg column="TRANSLATION" javaType="int"/>
			<arg column="ROTATION" javaType="int"/>
		</constructor>
	</resultMap>
	<resultMap id="gameBoard" type="com.mrprez.roborally.dto.GameBoardDto">
		<result property="boardId" column="BOARD_ID" />
		<result property="name" column="NAME" />
		<result property="sizeX" column="SIZE_X" />
		<result property="sizeY" column="SIZE_Y" />
		<collection property="targetList">
			<result property="x" column="TARGET_X"/>
			<result property="y" column="TARGET_Y"/>
		</collection>
	</resultMap>
	<resultMap id="square" type="com.mrprez.roborally.dto.SquareDto">
		<result property="x" column="X" />
		<result property="y" column="Y" />
		<result property="clazz" column="CLASS" />
		<result property="args" column="ARGS" />
	</resultMap>
	<resultMap id="robotDto" type="com.mrprez.roborally.dto.RobotDto">
		<result property="x" column="X" />
		<result property="y" column="Y" />
		<result property="direction" column="DIRECTION" typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
		<result property="health" column="HEALTH" />
		<result property="ghost" column="GHOST" />
	</resultMap>
	<resultMap id="action" type="com.mrprez.roborally.dto.ActionDto">
		<result property="roundNb" column="ROUND_NB" />
		<result property="stageNb" column="STAGE_NB" />
		<result property="actionNb" column="ACTION_NB" />
		<result property="cardRapidity" column="CARD_RAPIDITY" />
		<result property="squareX" column="SQUARE_X" />
		<result property="squareY" column="SQUARE_Y" />
		<collection property="moveList" ofType="com.mrprez.roborally.dto.MoveDto" >
			<result property="stepNb" column="STEP_NB" />
			<result property="moveNb" column="MOVE_NB" />
			<result property="robotNb" column="ROBOT_NB" />
			<result property="type" column="TYPE" typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
			<result property="args" column="ARGS" />
		</collection>
	</resultMap>
	<resultMap id="playerRobot" type="com.mrprez.roborally.model.Robot">
		<id property="number" column="NUMBER" />
		<result property="direction" column="DIRECTION" typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
		<result property="health" column="HEALTH" />
		<collection property="cards" resultMap="card" ofType="com.mrprez.roborally.model.Card"/>
	</resultMap>

	<select id="checkUser" resultMap="userResultMap">
		select USERNAME from ACCOUNT where
		USERNAME=#{username} and PASSWORD=#{password}
	</select>
	<select id="selectUserGames" resultMap="game">
		select ID, NAME from GAME where OWNER=#{username}
	</select>
	<select id="selectGame" resultMap="gameBoard">
		select GAME.BOARD_ID,NAME,SIZE_X,SIZE_Y,TARGET.X as TARGET_X,TARGET.Y as TARGET_Y from GAME
		join BOARD on BOARD.ID=GAME.BOARD_ID
		join TARGET on TARGET.BOARD_ID=BOARD.ID
		where GAME.ID=#{id}
	</select>
	<select id="selectSquareList" resultMap="square">
		select X,Y,CLASS,ARGS from SQUARE where BOARD_ID=#{boardId}
	</select>
	<select id="selectRobotList" resultMap="robotDto">
		select NUMBER,X,Y,DIRECTION,HEALTH,GHOST from ROBOT where GAME_ID=#{gameId}
	</select>
	<select id="selectPlayerRobot" resultMap="playerRobot">
		select NUMBER,HEALTH,DIRECTION,RAPIDITY,TRANSLATION,ROTATION from CARD
		join ROBOT on CARD.ROBOT_NB=ROBOT.NUMBER and CARD.GAME_ID=ROBOT.GAME_ID
		where ROBOT.GAME_ID=#{gameId} and ROBOT.USER_NAME=#{username}
		order by HAND_INDEX asc
	</select>
	<select id="selectHistory" resultMap="action">
		select ACTION.ROUND_NB, ACTION.STAGE_NB, ACTION.ACTION_NB, MOVE.STEP_NB, MOVE.MOVE_NB, ACTION.CARD_RAPIDITY, ACTION.SQUARE_X, ACTION.SQUARE_Y, MOVE.ROBOT_NB, MOVE.TYPE, MOVE.ARGS
		from ACTION
		left join MOVE on  ACTION.GAME_ID=MOVE.GAME_ID and ACTION.ROUND_NB=MOVE.ROUND_NB and ACTION.STAGE_NB=MOVE.STAGE_NB and ACTION.ACTION_NB=MOVE.ACTION_NB 
		where ACTION.GAME_ID=#{gameId}
		order by ACTION.ROUND_NB, ACTION.STAGE_NB, ACTION.ACTION_NB, MOVE.STEP_NB, MOVE.MOVE_NB asc
	</select>
	
	<insert id="updateHandCard">
		update CARD set HAND_INDEX=#{index} where GAME_ID=#{gameId} and RAPIDITY=#{rapidity}
	</insert>
	
</mapper>