
body{
	color: #746C69;
	font-family: Arial;
}

input[type="text"]{
	color: #746C69;
	font-family: Arial;
}

button{
	border-radius: 5px;
	font-family: Arial;
}

input[type="submit"]{
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
	font-family: Arial;
	background: linear-gradient(#746C69, white);
	cursor: pointer;
}

#loginForm{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.formattedForm{
	display: block;
}

.formattedFormFieldGrid{
	display: table;
}

.formattedFormRow{
	display: table-row;
}

.formattedFormLabel{
	display: table-cell;
	padding: 5px;
	text-align: right;
}

.formattedFormField{
	display: table-cell;
	padding: 5px;
}

.formattedFormButtonRow{
	margin-top: 10px;
	text-align: center;
}

.error{
	color: red;
	font-size: small;
}

#indexHeaderImage{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.boardTable{
	border-spacing: 0;
	border-style: none;
	display: block;
	float: left;
}

.boardTr{
	border-style: none;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.boardSquareTd{
	border-style: none;
	padding: 0;
	margin: 0;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
}

.boardSquareImg{
	padding: 0;
	margin: 0;
	border-spacing: 0;
	display: block;
}

.routeImg{
	position: absolute;
	top: 0;
}

#availableSquares{
	float: right;
	margin: 20px;
}

.availableSquareDiv{
	margin: 5px;
    position: relative;
    background-color: grey;
    height: 97px;
}

