/** Add css rules here for your application. */
@font-face {
    font-family: "Digital";
    src: url('font/digital-7.ttf');
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

#closeButton {
  margin: 15px 6px 6px;
}

.authenticationPanel{
	margin-left: auto;
	margin-right: auto;
}

.registerPanel{
	margin-left: auto;
	margin-right: auto;
}

.homeGrid{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	border: 10px solid transparent;
	border-image: url(img/BorderWall.gif) 20% round;
}

.homeGrid tr.header td{
	border: 1px solid black;
}

.homeGrid td{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.homeGrid td{
	width: 400px;
	text-align: center;
}

.homeGrid tr:last-of-type td {
	border-bottom: 1px solid black;
}

.homeGrid button {
	width: 100%;
}

.newGameDialogBox input{
	margin: 2px;
}

.newGameFormLabel{
	display: inline-block;
	width: 80px;
}

.gameNameField{
	width: 231px;
}

.newPlayerField{
	width: 289px;
}

.sizeField{
	width: 110px;
}

.addPlayerButton{
	width: 50px;
}

.removeInvitedPlayerButton{
	width: 50px;
}

.invitedPlayerMailLabel{
	display: inline-block;
	width: 301px;
}

.gameCanvas{
	position: absolute;
}

.desactivatingFilm{
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: black;
	opacity: 0.5;
}

.cardPanel{
	position: static;
	margin: auto;
}

.cardPanel > tbody > tr > td {
	border: 2px solid green;
}

.dropping{
	background-color: grey;
}

.cardTurnNb{
	margin: auto;
	width: 10px;
	font-family: Tahoma;
	font-weight: bold;
	font-size: medium;
	color: green;
}

.xCardCell{
	background-color: #b3b3b3;
}

.saveCardsLine{
	text-align: center;
}

.playerButton{
	display: inline-block;
}

.playerButtonImg{
	vertical-align: middle;
}

.roundListBox{
	width: 100%;
}

.actionElement{
	height: 55px;
	border: solid 4px black;
	text-align: center;
}

.reducedSquareImg{
	height: 48px;
}

.laser{
	background-color: red;
}

.powerDownButton{
	cursor: pointer;
}

.dialogButtonPanel{
	text-align: center;
}

.dialogButtonPanel button{
	margin: 5px 20px;
}

.adminPanelLink{
	display: block;
	margin-top: 20px;
}

.stageNbLabel{
	font-family: Tahoma;
	font-weight: bold;
	color: green;
	font-size: 40px;
	border: solid 1px green; 
}

.editTable{
	border-spacing: 0px;
	border-collapse: collapse;
}

.editTable td{
	padding: 0;
	border: none;
}

.editTable td img{
	display: block;
}

.elementPanel img {
	margin: 5px;
}

.editTable .dropping {
	opacity: 0.5;
}

.editTable .targetImage {
	position: absolute;
	top: 0;
}

.editTable .wallImage {
	position: absolute;
	top: 0;
}

.editTable .squareDiv {
	position: relative;
}
