<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/SpringContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>gwtServiceServlet</servlet-name>
		<servlet-class>com.mrprez.roborally.server.GwtServiceServlet</servlet-class>
	</servlet>
	<servlet> 
         <servlet-name>EventService</servlet-name> 
         <servlet-class>de.novanic.eventservice.service.EventServiceImpl</servlet-class> 
    </servlet>

	<servlet-mapping>
		<servlet-name>gwtServiceServlet</servlet-name>
		<url-pattern>/Login/authenticationService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gwtServiceServlet</servlet-name>
		<url-pattern>/Register/authenticationService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gwtServiceServlet</servlet-name>
		<url-pattern>/Home/gameService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gwtServiceServlet</servlet-name>
		<url-pattern>/Game/gameService</url-pattern>
	</servlet-mapping>
    <servlet-mapping>   
         <servlet-name>EventService</servlet-name> 
         <url-pattern>/Game/gwteventservice</url-pattern> 
    </servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Login.html</welcome-file>
	</welcome-file-list>

</web-app>
